main,
html,
body
	margin: 0
	width: 100%
	height: 100%
	background-color: #fff
	font-weight: 100

/* Hide scrollbar */
.scrollable-container
	width: 100%
	height: 100%
	overflow-y: scroll
	padding-right: 17px
	box-sizing: content-box

h1, h2
  font-weight: 100 !important